@model List<Project1.Domain.UserOrderItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].StoreItem.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StoreItem.itemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreItem.itemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreItem.itemPrice)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Purchased">Place Order</a>
