@model List<Project1.Domain.UserOrderItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].StoreItem.itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StoreItem.itemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-dark">
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.StoreItem.itemName)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.OrderQuantity)</h5>
                </td>
                <td>
                    <h5>$@Html.DisplayFor(modelItem => item.StoreItem.itemPrice)</h5>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Place Order" onclick="location.href='@Url.Action("Purchased","Home")'" />
