@model Project1.Models.StoreItemModel

@{
    ViewData["Title"] = "Pets";
}

<h1>Pets</h1>
<h3 style="color:red">@ViewData["error"]</h3>
<table class="table table-light">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.storeItems[0].itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeItems[0].StoreItemInventory.itemInventory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeItems[0].itemPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.storeItems)
        {
            <tr class="text-dark text-center border-bottom">
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.itemName)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.StoreItemInventory.itemInventory)</h5>
                </td>
                <td>
                    <h5>$@Html.DisplayFor(modelItem => item.itemPrice)</h5>
                </td>
                <td>
                    <form asp-controller="Home" asp-action="Items">
                        <p>
                            <input type="number" min="0" max="20" asp-for="quantity" />
                            <input class="btn btn-light btn-outline-dark btn-sm" asp-route-id="@item.StoreItemId" type="submit" value="Add to cart" />
                        </p>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Go to cart" onclick="location.href='@Url.Action("Cart","Home")'" />

