@model IEnumerable<Project1.Domain.UserOrder>

@{
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>


<table class="table table-light">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.UserOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center text-dark">
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.UserOrderId)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.timeStamp)</h5>
                </td>
                <td>
                    <h5><a asp-action="OrderDetails" asp-route-id="@item.UserOrderId">Details</a></h5>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Back" onclick="location.href='@Url.Action("Index","Home")'" />
