@model Project1.Models.OrdersByLocationModel

@{
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>

</p>
<form asp-controller="Home" class="form-inline" asp-action="OrderHistoryByLocation" method="get">
    <p class="text-dark">
        Location: <select class="custom-select-sm form-control" asp-for="location" asp-items="Model.storeLocations">
            <option value="">All</option>
        </select>
        <input class="btn-light btn-outline-dark btn-sm form-control" type="submit" value="Filter" />
    </p>
</form>

<table class="table table-light">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.userOrders[0].UserOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userOrders[0].timeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table">
        @foreach (var item in Model.userOrders)
        {
            <tr class="text-dark text-center">
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.UserOrderId)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.timeStamp)</h5>
                </td>
                <td>
                    <h5><a asp-action="OrderDetails" asp-route-id="@item.UserOrderId">Details</a></h5>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Back" onclick="location.href='@Url.Action("Index","Home")'" />
