@model IEnumerable<Project1.Domain.UserOrder>

@{
    ViewData["Title"] = "Order History";
}

<h1>User Order History</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeStamp)
                </td>
                <td>
                    <a asp-action="OrderDetails" asp-route-id="@item.UserOrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
