@model Project1.Models.OrdersByLocationModel

@{
    ViewData["Title"] = "Order History";
}

<h1>Order History</h1>

</p>
<form asp-controller="Home" asp-action="OrderHistoryByLocation" method="get">
    <p>
        <select asp-for="location" asp-items="Model.storeLocations">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userOrders[0].UserOrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userOrders[0].timeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.timeStamp)
                </td>
                <td>
                    <a asp-action="OrderDetails" asp-route-id="@item.UserOrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
