@model IEnumerable<Project1.Domain.UserOrderItem>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>Order Details</h1>


<table class="table table-light">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.StoreItem.itemName)
            </th>
            <th>
                Total Pet Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserOrder.UserInfo.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserOrder.UserInfo.lName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserOrder.timeStamp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-dark text-center">
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.StoreItem.itemName)</h5>
                </td>
                <td>
                    <h5>$@(item.StoreItem.itemPrice*item.OrderQuantity)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.OrderQuantity)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.UserOrder.UserInfo.fName)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.UserOrder.UserInfo.lName)</h5>
                </td>
                <td>
                    <h5>@Html.DisplayFor(modelItem => item.UserOrder.timeStamp)</h5>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<input class="btn btn-light btn-outline-dark" type="button" value="Back to Main" onclick="location.href='@Url.Action("Index","Home")'" />

