@model Project1.Models.SearchUserByNameModel

@{
    ViewData["Title"] = "Search User";
}

<h1>Order History</h1>

<form asp-controller="Home" asp-action="SearchUserByName" class="form-group" method="get">
    <p class="text-dark">
        First Name: <input type="text" asp-for="firstName" />
        Last Name: <input type="text" asp-for="lastName" />
        <input class="btn-light btn-outline-dark" type="submit" value="Filter" />
    </p>
</form>

<table class="table table-light">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userInfos)
        {
        <tr class="text-center text-dark">
            <td>
                <h5>@Html.DisplayFor(modelItem => item.fName)</h5>
            </td>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.lName)</h5>
            </td>
            <td>
                <h5><a asp-action="OrderHistoryByUser" asp-route-id="@item.UserInfoId">Details</a></h5>
            </td>
        </tr>
        }
    </tbody>
</table>
